*{
    margin: 0;
    padding: 0;
}

.cont1{
    width: 100%;
    height: 146px;
    background-color: rgb(255, 255, 255);
}

.tab1{
    width: 100px;
    height: 100px;
    padding: 10px;
    color: white;
    background-color: #8E1537;
}

.tab1 img{
    width: 124px;
    height:120px;


}

.tab2 h1{
    font-size: 30px;
    font-family: Georgia;
    color:white;
}
.tab2 p{
    line-height: 40px;
    font-family: Helvetica;
    font-size: 23px;
}

.tab2{
    padding: 10px;
    color:white;
    background-color: #8E1537;
    
   
}

@media screen and (max-width: 1000px)
{

    .tab1 img{
        width: 114px;
        height:110px;
    
    }
    .tab1 {
        width: 90px;
        height: 90px;
    }
    .tab2 h1{
        font-size: 29px;
    }
    .tab2 p{
        line-height: 35px;
        font-size: 20px;
    }
    
    .tab2{
        padding: 10px;
    }
}


@media screen and (max-width: 850px)
{

    .tab1 img{
        width: 104px;
        height:100px;
    
    }
    .tab1 {
        width: 80px;
        height: 80px;
    }
    .tab2 h1{
        font-size: 28px;
    }
    .tab2 p{
        line-height: 30px;
        font-size: 19px;
    }
    
}


@media screen and (max-width: 700px)
{

    .tab1 img{
        width: 94px;
        height:90px;
    
    }
    .tab1 {
        width: 70px;
        height: 70px;
        padding: 6px;
    }
    .tab2 h1{
        font-size: 27px;
    }
    .tab2 p{
        line-height: 30px;
        font-size: 18px;
    }
    
}

@media screen and (max-width: 650px)
{

    .tab1 img{
        width: 84px;
        height:80px;
    
    }
    .tab1 {
        width: 65px;
        height: 65px;
        padding: 3px;
    }
    .tab2 h1{
        font-size: 26px;
    }
    .tab2 p{
        line-height: 28px;
        font-size: 17px;
    }
    
}


@media screen and (max-width: 600px)
{

    .tab1 img{
        width: 74px;
        height:70px;
    
    }
    .tab1 {
        width: 55px;
        height: 55px;
        padding: 3px;
    }
    .tab2 h1{
        font-size: 24px;
    }
    .tab2 p{
        line-height: 26px;
        font-size: 14px;
    }
    
}

@media screen and (max-width: 550px)
{

    .tab1 img{
        width: 64px;
        height:60px;
    
    }
    .tab1 {
        width: 45px;
        height: 40px;
    }
    .tab2 h1{
        font-size: 22px;
    }
    .tab2 p{
        line-height: 22px;
        font-size: 12px;
    }
    
}


@media screen and (max-width: 480px)
{

    .tab1 img{
        width: 54px;
        height:50px;
    
    }
    .tab1 {
        width: 35px;
        height: 35px;
    }
    .tab2 h1{
        font-size: 18px;
    }
    .tab2 p{
        line-height: 22px;
        font-size: 12px;
    }
    
}


@media screen and (max-width: 420px)
{
    .tab1 img{
        width: 44px;
        height:40px;
    
    }
    .tab1 {
        width: 25px;
        height: 25px;
    }
    .tab2 h1{
        font-size: 16px;
    }
    .tab2 p{
        line-height: 20px;
        font-size: 11px;
    }
    
}

/*********************************************************************/

.log{
    width: 100%;
   background-color: rgb(255, 255, 255);
    height: 500px;  
    padding-top: 40px;
    padding-bottom: 40px;
    overflow: hidden;
}

.container{
    width: 450px;
    height: 420px;
}

.Get{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 33px;
    text-align: center;
    -webkit-text-stroke: 2px #8D5151; 
    text-shadow: 2px 2px #FFB71C;
    color:  #8D5151;
    line-height: 45px;
  }

  
  .input-group{
    margin-left: 39px;
    top: 330px;
    position: absolute;
    width: 370px;
    transition: .5s;
    transition: none;
  }

 /* .container{
    width: 350px;
 
 .input-field{
    width: 300px;
  }*/

  .Get i{
      font-size: 60px;
    -webkit-text-stroke: 2px #8D5151; 
    text-shadow:  3px 3px #FFB71C;
  }
  
  .input-field{
    width: 370px;
    padding: 12px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #8D5151; 
    outline: none;
    background: transparent;
    transition: none;
  }
  
  .Subscribe{
    font-family: Helvetica;
    font-size: 13px;
    margin-left: -260px;
    position: relative;
    margin-top: 10px;
    padding: 2px;
  }
  
  .Subscribe a{
    text-decoration: none;
    color: #8D5151; 
  }
  
  .checkbox-group{
      font-size: 13px;
  }
  .Marg{
      margin-left: 10px;
  }
  
  .Sent{ 
    font-family: Helvetica;
    font-size: 10px;
    text-align: center;
    position: relative;
    margin-top: 10px;
    padding: 3px;
    margin: 20px;
  }
  
  .Member a{ 
    font-family: Helvetica;
    font-size: 12px;
    position: relative;
    margin: 20px;
    padding: 3px;
    text-decoration: none;
    color: #8D5151; 
    left: 10px;
  }

  .btn1 {
    border: 1px solid #8D5151; 
    background-color:#8D5151; 
    color: white;
    padding: 8px 30px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .success1 {
    border-color:#8D5151; 
    color: white;
  }
  
  .success1:hover {
    background-color: white;
    color:#8D5151; 
  }
/*****************************FOOTER****************************************/



.pots{
    width: 100%;
    background-color: #8E1537;
    height: 55px;
    position: fixed;
    bottom: 0;
}

i{
    color: white;
    font-size: 25px;
}

label.copy{
    color: white;
    font-size: 15px;
    line-height: 50px;
    padding-left: 10px;
}
   
.navbar-links ul{
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
    
}
.navbar-links li{
    display: inline-block;
}

.navbar-links li a{
    text-decoration: none;
    padding: 10px; 
    display: block;
}



@media screen and (max-width: 475px){
    i{
        color: white;
        font-size: 20px;
        margin-top: 5px;
    }

    label.copy{
        color: white;
        font-size: 12px;
        line-height: 50px;
        padding-left: 5px;
    }
    
    .Get{
        font-size: 25px;
    }
        .container{
        width: 350px;
        }
     .input-field{
        width: 300px;
      }
    
      .input-group{
        margin-left: -10px;
      }
      
      .Subscribe{
        margin-left: -190px;
    
      }
}

@media screen and (max-width: 400px){
    i{
        color: white;
        font-size: 18px;
        margin-top: 5px;
    }

    label.copy{
        font-size: 10px;
        padding-left: 5px;
    }

    
}

@media screen and (max-width: 376px){

    .Get{
    font-size: 25px;
}
    .container{
    width: 350px;
    }
 .input-field{
    width: 300px;
  }

  .input-group{
    margin-left: -10px;
  }

  .cont1{
    height: 50px;
   }

   .input-group{
    top: 235px;
  }
}